<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    USER: {{ username }}
    <br/>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
    <br>
    <br>
    <form method="POST" action="{% url "logout" %}">
        {% csrf_token %}
        <button type="submit">log out</button>
    </form>
</body>
<script>
    var roomName = "{{ room_name|escapejs }}";
    var user_name = "{{ username }}";

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onopen = function(e) {
        fetchMessages();
    };

    chatSocket.onmessage = function(e) {
        /*
        var data = JSON.parse(e.data);
        var message = data['message'];
        var author = message[author];
        console.log(message)
        document.querySelector('#chat-log').value += (message + '\n');*/
        var data = JSON.parse(e.data);
        console.log(data)
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': user_name,
            "roomName": roomName
        }));

        messageInputDom.value = '';
    };



    // get the messages in chatroom 
    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
    }
    // Function that write the message
    function createMessage(data) {
      var author = data['author'];
      var concreteMEssage = ""
      if (author === user_name) {
        concreteMEssage += "ME: " + data.content
      } else {
        concreteMEssage += author+ ": " + data.content
      }
      document.querySelector('#chat-log').value += (concreteMEssage + '\n');
    }

</script>
</html>